# Main Script

In [13]:
import requests
import json
import re
import pandas as pd

test_url = 'https://ipl-stats-sports-mechanic.s3.ap-south-1.amazonaws.com/ipl/feeds/1046-Innings1.js'

response = requests.get(url=test_url)

# Assuming the response text is stored in a variable called 'response'
start_index = response.text.find('(') + 1
end_index = response.text.rfind(')')

json_data = response.text[start_index:end_index]
data = json.loads(json_data)

innings1_keys = data["Innings1"].keys()

if innings1_keys:
    # The "Innings2" object exists in the JSON data
    # You can use the retrieved keys or perform further operations
    for key in innings1_keys:
        print(key)
else:
    # The "Innings2" object was not found in the JSON data
    # Handle the case accordingly
    print("Innings1 not found.")

BattingCard
Extras
FallOfWickets
WagonWheel
PartnershipScores
PartnershipBreak
BowlingCard
ManhattanGraph
ManhattanWickets
OverHistory
WagonWheelSummary
battingheadtohead
bowlingheadtohead

# Batting Head to Head Data

In [2]:
if "battingheadtohead" in data["Innings1"]:
    battingheadtohead = data["Innings1"]["battingheadtohead"]

    # Create a list of dictionaries representing rows
    battingheadtohead_rows = []
    for item in battingheadtohead:
        battingheadtohead_rows.append(item)

In [14]:
battingheadtohead_df=pd.DataFrame(battingheadtohead_rows)
battingheadtohead_df.head(2)

,KPI,BatsManID,BowlerID,BatsManName,BowlerName,Runs,RunsThroughExtras,TotalRuns,BallsFaced,StrikeRate,...,ScoringBalls,Ones,Twos,Threes,Fours,Sixes,BdryFreq,BdryPercent,WicketLost,RPSS
0,Head To Head,2018-100mb00000000054-e3ebefa2050a11,2020-100mb00000000539-04833b65639b11,Hardik Pandya,Tushar Deshpande,14,0,14,5,280.00,...,4,2,0,0,0,2,2.50,85.71,0,3.50
1,Head To Head,2018-100mb00000000054-e3ebefa2050a11,2022-100mb00000001014-1f0cfb3dc17911,Hardik Pandya,Matheesha Pathirana,7,1,8,7,114.29,...,5,3,2,0,0,0,0.00,0.00,0,1.60

In [15]:
#battingheadtohead_df.to_csv('1_battingheadtohead.csv', index=False)
print ('exported to CSV')

exported to CSV

# BowlingCard

In [3]:
if "BowlingCard" in data["Innings1"]:
    BowlingCard = data["Innings1"]["BowlingCard"]

    # Create a list of dictionaries representing rows
    BowlingCard_rows = []
    for item in BowlingCard:
        BowlingCard_rows.append(item)

In [16]:
BowlingCard_df = pd.DataFrame(BowlingCard_rows)
BowlingCard_df.head(2)

,MatchID,InningsNo,TeamID,PlayerID,PlayerName,PlayerShortName,PlayerImageName,PlayerImage,Overs,Maidens,...,Ones,Twos,Threes,Fours,Sixes,BdryPercent,BdryFreq,StrikeRate,FourPercent,SixPercent
0,1046,1,13,2019-100mb00000000091-8640595343ec11,Deepak Chahar,Deepak Chahar,https://scores.iplt20.com/ipl/playerimages/m22...,https://scores.iplt20.com/ipl/playerimages/m22...,4,0,...,10,5,0,3,1,47.37,6.00,24.00,31.58,15.79
1,1046,1,13,2020-100mb00000000539-04833b65639b11,Tushar Deshpande,Tushar Deshpande,https://scores.iplt20.com/ipl/playerimages/Fnv...,https://scores.iplt20.com/ipl/playerimages/Fnv...,4,0,...,10,0,0,7,3,82.14,2.40,0,50.00,32.14

In [17]:
#BowlingCard_df.to_csv('1_BowlingCard.csv', index=False)
print ('exported to CSV')

exported to CSV


# bowlingheadtohead

In [4]:
if "bowlingheadtohead" in data["Innings1"]:
    bowlingheadtohead = data["Innings1"]["bowlingheadtohead"]

    # Create a list of dictionaries representing rows
    bowlingheadtohead_rows = []
    for item in bowlingheadtohead:
        bowlingheadtohead_rows.append(item)

In [18]:
bowlingheadtohead_df = pd.DataFrame(bowlingheadtohead_rows)
bowlingheadtohead_df.head(2)

,KPI,MatchID,BowlerID,BowlerName,StrikerID,BatsManName,TotalRunsConceded,BowlingAverage,TotalLegalBallsBowled,BowlingSR,...,Wides,NoBalls,Wickets,RunOutsDone,BowledOutsDone,StumpingsDone,BowlingDotBallPercentage,BowlingDotBallFrequency,BowlingBdryPercentage,BowlingBdryFrequency
0,Head To Head,1046,2018-100mb00000000046-06b5ba89f88b11,Ravindra Jadeja,2019-100mb00000000062-8fa4884a17f311,Shubman Gill,3,3.00,3,3.00,...,0,0,1,0,0,1,33.33,3.00,0.00,0.00
1,Head To Head,1046,2018-100mb00000000046-06b5ba89f88b11,Ravindra Jadeja,2019-100mb00000000225-a11ad1bc44c011,Wriddhiman Saha,19,0.00,11,0.00,...,0,0,0,0,0,0,9.09,11.00,63.16,3.67

In [19]:
#bowlingheadtohead_df.to_csv('1_bowlingheadtohead.csv', index=False)
print ('exported to CSV')

exported to CSV

# Extras

In [5]:
if "Extras" in data["Innings1"]:
    Extras = data["Innings1"]["Extras"]

    # Create a list of dictionaries representing rows
    Extras_rows = []
    for item in Extras:
        Extras_rows.append(item)

In [20]:
Extras_df = pd.DataFrame(Extras_rows)
Extras_df.head(2)

,MatchID,InningsNo,TeamID,Total,TotalExtras,Byes,LegByes,NoBalls,Wides,Penalty,CurrentRunRate,FallScore,FallWickets,FallOvers,BattingTeamName,BowlingTeamName,MaxPartnerShipRuns
0,1046,1,35,214/4 (20.0 Overs),4,1,1,0,2,,10.7,214,4,20.0,Gujarat Titans,Chennai Super Kings,81

In [21]:
#Extras_df.to_csv('1_Extras_df.csv', index=False)
print ('exported to CSV')

exported to CSV

# FallOfWickets

In [6]:
if "FallOfWickets" in data["Innings1"]:
    FallOfWickets = data["Innings1"]["FallOfWickets"]

    # Create a list of dictionaries representing rows
    FallOfWickets_rows = []
    for item in FallOfWickets:
        FallOfWickets_rows.append(item)

In [22]:
FallOfWickets_df = pd.DataFrame(FallOfWickets_rows)
FallOfWickets_df.head(2)

,MatchID,InningsNo,TeamID,PlayerID,PlayerName,Score,FallScore,FallWickets,FallOvers
0,1046,1,35,2019-100mb00000000062-8fa4884a17f311,Shubman Gill,67/1(6.6),67,1,6.6
1,1046,1,35,2019-100mb00000000225-a11ad1bc44c011,Wriddhiman Saha,131/2(13.6),131,2,13.6

In [23]:
#FallOfWickets_df.to_csv('1_FallOfWickets.csv', index=False)
print ('exported to CSV')

exported to CSV

# ManhattanGraph

In [7]:
if "ManhattanGraph" in data["Innings1"]:
    ManhattanGraph = data["Innings1"]["ManhattanGraph"]

    # Create a list of dictionaries representing rows
    ManhattanGraph_rows = []
    for item in ManhattanGraph:
        ManhattanGraph_rows.append(item)

In [25]:
ManhattanGraph_df = pd.DataFrame(ManhattanGraph_rows)
ManhattanGraph_df.head(2)

,InningsNo,OverNo,BattingTeamID,OverRuns,BowlerRuns,BowlerID,Wickets,Bowler
0,1,0,0,4,4,2019-100mb00000000091-8640595343ec11,0,Deepak Chahar
1,1,1,0,4,4,2020-100mb00000000539-04833b65639b11,0,Tushar Deshpande

In [26]:
#ManhattanGraph_df.to_csv('1_ManhattanGraph.csv', index=False)
print ('exported to CSV')

exported to CSV

# ManhattanWickets

In [8]:
if "ManhattanWickets" in data["Innings1"]:
    ManhattanWickets = data["Innings1"]["ManhattanWickets"]

    # Create a list of dictionaries representing rows
    ManhattanWickets_rows = []
    for item in ManhattanWickets:
        ManhattanWickets_rows.append(item)

In [27]:
ManhattanWickets_df = pd.DataFrame(ManhattanWickets_rows)
ManhattanWickets_df.head(2)

,InningsNo,OverNo,BattingTeamID,OutBatsman,OutDesc,BatsmanRuns,BatsmanBalls
0,1,6,35,Shubman Gill,st MS Dhoni b Ravindra Jadeja,39,20
1,1,13,35,Wriddhiman Saha,c MS Dhoni b Deepak Chahar,54,39

In [28]:
#ManhattanWickets_df.to_csv('1_ManhattanWickets.csv', index=False)
print ('exported to CSV')

exported to CSV

# OverHistory

In [9]:
if "OverHistory" in data["Innings1"]:
    over_history = data["Innings1"]["OverHistory"]

    # Create a list of dictionaries representing rows
    over_history_rows = []
    for item in over_history:
        over_history_rows.append(item)

In [29]:
over_history_df = pd.DataFrame(over_history_rows)
over_history_df.head(2)

,BallID,BallUniqueID,ActualBallNo,MatchID,InningsNo,BattingTeamID,TeamName,StrikerID,NonStrikerID,BatsManName,...,BOWLING_LENGTH_ID,FiveHaul,HatCheck,Flag,FlagSet,PenaltyRuns,IsFifty,IsHundred,IsTwoHundred,IsHattrick
0,6AAEFE9A-3B56-4CF5-B830-F9F79361FBD0,327433,1,1046,1,35,Gujarat Titans,2019-100mb00000000225-a11ad1bc44c011,2019-100mb00000000062-8fa4884a17f311,Wriddhiman Saha,...,Good Length,1,2019-100mb00000000091-8640595343ec11 - 0,0,0,0,0,0,0,0
1,3EC2BA93-765A-465B-BB97-49C45F96B4E4,327434,2,1046,1,35,Gujarat Titans,2019-100mb00000000225-a11ad1bc44c011,2019-100mb00000000062-8fa4884a17f311,Wriddhiman Saha,...,Good Length,0,2019-100mb00000000091-8640595343ec11 - 0,0,0,0,0,0,0,0

In [30]:
#over_history_df.to_csv('1_over_history.csv', index=False)
print ('exported to CSV')

exported to CSV

# PartnershipBreak

In [10]:
if "PartnershipBreak" in data["Innings1"]:
    PartnershipBreak = data["Innings1"]["PartnershipBreak"]

    # Create a list of dictionaries representing rows
    PartnershipBreak_rows = []
    for item in PartnershipBreak:
        PartnershipBreak_rows.append(item)

In [31]:
PartnershipBreak_df = pd.DataFrame(PartnershipBreak_rows)
PartnershipBreak_df.head(2)

   InningsNo OverNo  WicketNo WicketType                          OutBatsmanID
0          1    6.6         1    Stumped  2019-100mb00000000062-8fa4884a17f311
1          1   13.6         2     Caught  2019-100mb00000000225-a11ad1bc44c011

In [32]:
#PartnershipBreak_df.to_csv('1_PartnershipBreak.csv', index=False)
print ('exported to CSV')

exported to CSV

# PartnershipScores

In [11]:
if "PartnershipScores" in data["Innings1"]:
    PartnershipScores = data["Innings1"]["PartnershipScores"]

    # Create a list of dictionaries representing rows
    PartnershipScores_rows = []
    for item in PartnershipScores:
        PartnershipScores_rows.append(item)

In [33]:
PartnershipScores_df = pd.DataFrame(PartnershipScores_rows)
PartnershipScores_df.head(2)

,MatchID,BattingTeamID,InningsNo,StrikerID,Striker,NonStrikerID,PartnershipTotal,StrikerRuns,StrikerBalls,Extras,NonStrikerRuns,NonStrikerBalls,MatchMaxOver,MatchMinOver,NonStriker,@I := 0,RowNumber
0,1046,35,1,2019-100mb00000000225-a11ad1bc44c011,Wriddhiman Saha,2019-100mb00000000062-8fa4884a17f311,67,28,22,0,39,20,6.6,0.1,Shubman Gill,0,1
1,1046,35,1,2019-100mb00000000062-8fa4884a17f311,Shubman Gill,2019-100mb00000000225-a11ad1bc44c011,67,39,20,0,28,22,6.6,0.1,Wriddhiman Saha,0,2

In [34]:
#PartnershipScores_df.to_csv('1_PartnershipScores.csv', index=False)
print ('exported to CSV')

exported to CSV

# WagonWheel

In [12]:
if "WagonWheel" in data["Innings1"]:
    WagonWheel = data["Innings1"]["WagonWheel"]

    # Create a list of dictionaries representing rows
    WagonWheel_rows = []
    for item in WagonWheel:
        WagonWheel_rows.append(item)

In [35]:
WagonWheel_df = pd.DataFrame(WagonWheel_rows)
WagonWheel_df.head(2)

,BallID,StrikerID,BowlerID,FielderAngle,FielderLengthRatio,Runs,IsFour,IsSix,BatType
0,710C3ECA-0278-419D-90C1-656A7CD99BC2,2019-100mb00000000225-a11ad1bc44c011,2019-100mb00000000091-8640595343ec11,23.99058,0.51,1,0,0,R
1,88C057E4-9A39-45CB-9A6C-B92FB1D128A3,2019-100mb00000000062-8fa4884a17f311,2019-100mb00000000091-8640595343ec11,26.13139,0.69,1,0,0,R

In [36]:
#WagonWheel_df.to_csv('1_WagonWheel.csv', index=False)
print ('exported to CSV')

exported to CSV