# Main Script

In [13]:
import requests
import json
import re
import pandas as pd

test_url = 'https://ipl-stats-sports-mechanic.s3.ap-south-1.amazonaws.com/ipl/feeds/1046-Innings2.js'

response = requests.get(url=test_url)

# Assuming the response text is stored in a variable called 'response'
start_index = response.text.find('(') + 1
end_index = response.text.rfind(')')

json_data = response.text[start_index:end_index]
data = json.loads(json_data)

innings2_keys = data["Innings2"].keys()

if innings2_keys:
    # The "Innings2" object exists in the JSON data
    # You can use the retrieved keys or perform further operations
    for key in innings2_keys:
        print(key)
else:
    # The "Innings2" object was not found in the JSON data
    # Handle the case accordingly
    print("Innings2 not found.")

BattingCard
Extras
FallOfWickets
WagonWheel
PartnershipScores
PartnershipBreak
BowlingCard
ManhattanGraph
ManhattanWickets
OverHistory
WagonWheelSummary
battingheadtohead
bowlingheadtohead

# Batting Head to Head Data

In [2]:
if "battingheadtohead" in data["Innings2"]:
    battingheadtohead = data["Innings2"]["battingheadtohead"]

    # Create a list of dictionaries representing rows
    battingheadtohead_rows = []
    for item in battingheadtohead:
        battingheadtohead_rows.append(item)

In [17]:
battingheadtohead_df=pd.DataFrame(battingheadtohead_rows)

In [18]:
battingheadtohead_df.head(2)

,KPI,BatsManID,BowlerID,BatsManName,BowlerName,Runs,RunsThroughExtras,TotalRuns,BallsFaced,StrikeRate,...,ScoringBalls,Ones,Twos,Threes,Fours,Sixes,BdryFreq,BdryPercent,WicketLost,RPSS
0,Head To Head,2018-100mb00000000044-e03a43dbf88a11,134c0289560f4aa896a37534c1b1e80,Ajinkya Rahane,Josh Little,15,0,15,5,300.00,...,4,1,1,0,0,2,2.50,80.00,0,3.75
1,Head To Head,2018-100mb00000000044-e03a43dbf88a11,2019-100mb00000000100-f196053e43f611,Ajinkya Rahane,Mohit Sharma,1,0,1,2,50.00,...,1,1,0,0,0,0,0.00,0.00,1,1.00

In [19]:
#battingheadtohead_df.to_csv('2_battingheadtohead.csv', index=False)
print ('exported to CSV')

exported to CSV

# BowlingCard

In [3]:
if "BowlingCard" in data["Innings2"]:
    BowlingCard = data["Innings2"]["BowlingCard"]

    # Create a list of dictionaries representing rows
    BowlingCard_rows = []
    for item in BowlingCard:
        BowlingCard_rows.append(item)

In [20]:
BowlingCard_df = pd.DataFrame(BowlingCard_rows)

In [21]:
BowlingCard_df.head(2)

,MatchID,InningsNo,TeamID,PlayerID,PlayerName,PlayerShortName,PlayerImageName,PlayerImage,Overs,Maidens,...,Ones,Twos,Threes,Fours,Sixes,BdryPercent,BdryFreq,StrikeRate,FourPercent,SixPercent
0,1046,2,35,2018-100mb00000000047-1bfc8ff2f88b11,Mohammad Shami,Mohammad Shami,https://scores.iplt20.com/ipl/playerimages/9Lw...,https://scores.iplt20.com/ipl/playerimages/9Lw...,3,0,...,5,4,0,4,0,55.17,4.50,0,55.17,0.00
1,1046,2,35,2018-100mb00000000054-e3ebefa2050a11,Hardik Pandya,Hardik Pandya,https://scores.iplt20.com/ipl/playerimages/3oC...,https://scores.iplt20.com/ipl/playerimages/3oC...,1,0,...,3,0,0,1,1,71.43,3.00,0,28.57,42.86

In [22]:
#BowlingCard_df.to_csv('2_BowlingCard.csv', index=False)
print ('exported to CSV')

exported to CSV

# bowlingheadtohead

In [4]:
if "bowlingheadtohead" in data["Innings2"]:
    bowlingheadtohead = data["Innings2"]["bowlingheadtohead"]

    # Create a list of dictionaries representing rows
    bowlingheadtohead_rows = []
    for item in bowlingheadtohead:
        bowlingheadtohead_rows.append(item)

In [24]:
bowlingheadtohead_df = pd.DataFrame(bowlingheadtohead_rows)

In [25]:
bowlingheadtohead_df.head(2)

,KPI,MatchID,BowlerID,BowlerName,StrikerID,BatsManName,TotalRunsConceded,BowlingAverage,TotalLegalBallsBowled,BowlingSR,...,Wides,NoBalls,Wickets,RunOutsDone,BowledOutsDone,StumpingsDone,BowlingDotBallPercentage,BowlingDotBallFrequency,BowlingBdryPercentage,BowlingBdryFrequency
0,Head To Head,1046,134c0289560f4aa896a37534c1b1e80,Josh Little,2018-100mb00000000044-e03a43dbf88a11,Ajinkya Rahane,15,0.00,5,0.00,...,0,0,0,0,0,0,20.00,5.00,80.00,2.50
1,Head To Head,1046,134c0289560f4aa896a37534c1b1e80,Josh Little,2019-100mb00000000102-28e7fca043fc11,Ruturaj Gaikwad,1,0.00,1,0.00,...,0,0,0,0,0,0,0.00,0.00,0.00,0.00

In [26]:
#bowlingheadtohead_df.to_csv('2_bowlingheadtohead.csv', index=False)
print ('exported to CSV')

exported to CSV

# Extras

In [5]:
if "Extras" in data["Innings2"]:
    Extras = data["Innings2"]["Extras"]

    # Create a list of dictionaries representing rows
    Extras_rows = []
    for item in Extras:
        Extras_rows.append(item)

In [27]:
Extras_df = pd.DataFrame(Extras_rows)

In [28]:
Extras_df.head(2)

,MatchID,InningsNo,TeamID,Total,TotalExtras,Byes,LegByes,NoBalls,Wides,Penalty,CurrentRunRate,FallScore,FallWickets,FallOvers,BattingTeamName,BowlingTeamName,MaxPartnerShipRuns
0,1046,2,13,171/5 (15.0 Overs),5,0,1,0,4,,11.4,171,5,15.0,Chennai Super Kings,Gujarat Titans,74

In [29]:
#Extras_df.to_csv('2_Extras_df.csv', index=False)
print ('exported to CSV')

exported to CSV

# FallOfWickets

In [6]:
if "FallOfWickets" in data["Innings2"]:
    FallOfWickets = data["Innings2"]["FallOfWickets"]

    # Create a list of dictionaries representing rows
    FallOfWickets_rows = []
    for item in FallOfWickets:
        FallOfWickets_rows.append(item)

In [30]:
FallOfWickets_df = pd.DataFrame(FallOfWickets_rows)

In [32]:
FallOfWickets_df.head(2)

,MatchID,InningsNo,TeamID,PlayerID,PlayerName,Score,FallScore,FallWickets,FallOvers
0,1046,2,13,2019-100mb00000000102-28e7fca043fc11,Ruturaj Gaikwad,74/1(6.3),74,1,6.3
1,1046,2,13,2021-100mb00000000601-517399b0ceaf11,Devon Conway,78/2(6.6),78,2,6.6

In [33]:
#FallOfWickets_df.to_csv('2_FallOfWickets.csv', index=False)
print ('exported to CSV')

exported to CSV

# ManhattanGraph

In [7]:
if "ManhattanGraph" in data["Innings2"]:
    ManhattanGraph = data["Innings2"]["ManhattanGraph"]

    # Create a list of dictionaries representing rows
    ManhattanGraph_rows = []
    for item in ManhattanGraph:
        ManhattanGraph_rows.append(item)

In [34]:
ManhattanGraph_df = pd.DataFrame(ManhattanGraph_rows)
ManhattanGraph_df.head(2)

,InningsNo,OverNo,BattingTeamID,OverRuns,BowlerRuns,BowlerID,Wickets,Bowler
0,1,0,0,4,4,2019-100mb00000000091-8640595343ec11,0,Deepak Chahar
1,1,1,0,4,4,2020-100mb00000000539-04833b65639b11,0,Tushar Deshpande

In [36]:
#ManhattanGraph_df.to_csv('2_ManhattanGraph.csv', index=False)
print ('exported to CSV')

exported to CSV

# ManhattanWickets

In [8]:
if "ManhattanWickets" in data["Innings2"]:
    ManhattanWickets = data["Innings2"]["ManhattanWickets"]

    # Create a list of dictionaries representing rows
    ManhattanWickets_rows = []
    for item in ManhattanWickets:
        ManhattanWickets_rows.append(item)

In [37]:
ManhattanWickets_df = pd.DataFrame(ManhattanWickets_rows)
ManhattanWickets_df.head(2)

,InningsNo,OverNo,BattingTeamID,OutBatsman,OutDesc,BatsmanRuns,BatsmanBalls
0,1,6,35,Shubman Gill,st MS Dhoni b Ravindra Jadeja,39,20
1,1,13,35,Wriddhiman Saha,c MS Dhoni b Deepak Chahar,54,39

In [38]:
#ManhattanWickets_df.to_csv('2_ManhattanWickets.csv', index=False)
print ('exported to CSV')

exported to CSV

# OverHistory

In [9]:
if "OverHistory" in data["Innings2"]:
    over_history = data["Innings2"]["OverHistory"]

    # Create a list of dictionaries representing rows
    over_history_rows = []
    for item in over_history:
        over_history_rows.append(item)

In [39]:
over_history_df = pd.DataFrame(over_history_rows)
over_history_df.head(2)

,BallID,BallUniqueID,ActualBallNo,MatchID,InningsNo,BattingTeamID,TeamName,StrikerID,NonStrikerID,BatsManName,...,BOWLING_LENGTH_ID,FiveHaul,HatCheck,Flag,FlagSet,PenaltyRuns,IsFifty,IsHundred,IsTwoHundred,IsHattrick
0,596C02E1-048C-498E-A913-26B9D0DD2A60,327555,1,1046,2,13,Chennai Super Kings,2019-100mb00000000102-28e7fca043fc11,2021-100mb00000000601-517399b0ceaf11,Ruturaj Gaikwad,...,Good Length,1,2018-100mb00000000047-1bfc8ff2f88b11 - 0,0,0,0,0,0,0,0
1,A6FB20DE-0879-4774-BCC3-F8BB04FCD500,327556,2,1046,2,13,Chennai Super Kings,2019-100mb00000000102-28e7fca043fc11,2021-100mb00000000601-517399b0ceaf11,Ruturaj Gaikwad,...,Good Length,0,2018-100mb00000000047-1bfc8ff2f88b11 - 0,0,0,0,0,0,0,0

In [40]:
#over_history_df.to_csv('2_over_history.csv', index=False)
print ('exported to CSV')

exported to CSV

# PartnershipBreak

In [10]:
if "PartnershipBreak" in data["Innings2"]:
    PartnershipBreak = data["Innings2"]["PartnershipBreak"]

    # Create a list of dictionaries representing rows
    PartnershipBreak_rows = []
    for item in PartnershipBreak:
        PartnershipBreak_rows.append(item)

In [41]:
PartnershipBreak_df = pd.DataFrame(PartnershipBreak_rows)
PartnershipBreak_df.head(2)

   InningsNo OverNo  WicketNo WicketType                          OutBatsmanID
0          2    6.3         1     Caught  2019-100mb00000000102-28e7fca043fc11
1          2    6.6         2     Caught  2021-100mb00000000601-517399b0ceaf11

In [42]:
#PartnershipBreak_df.to_csv('2_PartnershipBreak.csv', index=False)
print ('exported to CSV')

exported to CSV

# PartnershipScores

In [11]:
if "PartnershipScores" in data["Innings2"]:
    PartnershipScores = data["Innings2"]["PartnershipScores"]

    # Create a list of dictionaries representing rows
    PartnershipScores_rows = []
    for item in PartnershipScores:
        PartnershipScores_rows.append(item)

In [43]:
PartnershipScores_df = pd.DataFrame(PartnershipScores_rows)
PartnershipScores_df.head(2)

,MatchID,BattingTeamID,InningsNo,StrikerID,Striker,NonStrikerID,PartnershipTotal,StrikerRuns,StrikerBalls,Extras,NonStrikerRuns,NonStrikerBalls,MatchMaxOver,MatchMinOver,NonStriker,@I := 0,RowNumber
0,1046,13,2,2019-100mb00000000102-28e7fca043fc11,Ruturaj Gaikwad,2021-100mb00000000601-517399b0ceaf11,74,26,16,3,45,23,6.3,0.1,Devon Conway,0,1
1,1046,13,2,2021-100mb00000000601-517399b0ceaf11,Devon Conway,2019-100mb00000000102-28e7fca043fc11,74,45,23,3,26,16,6.3,0.1,Ruturaj Gaikwad,0,2

In [44]:
#PartnershipScores_df.to_csv('2_PartnershipScores.csv', index=False)
print ('exported to CSV')

exported to CSV

# WagonWheel

In [12]:
if "WagonWheel" in data["Innings2"]:
    WagonWheel = data["Innings2"]["WagonWheel"]

    # Create a list of dictionaries representing rows
    WagonWheel_rows = []
    for item in WagonWheel:
        WagonWheel_rows.append(item)

In [45]:
WagonWheel_df = pd.DataFrame(WagonWheel_rows)
WagonWheel_df.head(2)

,BallID,StrikerID,BowlerID,FielderAngle,FielderLengthRatio,Runs,IsFour,IsSix,BatType
0,52C65746-34C6-44EC-962E-A2A0BCA8FB41,2019-100mb00000000102-28e7fca043fc11,2018-100mb00000000047-1bfc8ff2f88b11,187.1260,1.05,4,1,0,R
1,485E1A41-C524-427E-B430-C333D46AD7CA,2019-100mb00000000102-28e7fca043fc11,2018-100mb00000000047-1bfc8ff2f88b11,197.6006,0.88,2,0,0,R

In [46]:
#WagonWheel_df.to_csv('2_WagonWheel.csv', index=False)
print ('exported to CSV')

exported to CSV